<p id="notice"><%= notice %></p>

<p>
  <strong>Feld1:</strong>
  <%= @second_form.feld1 %>
</p>

<p>
  <strong>Feld2:</strong>
  <%= @second_form.feld2 %>
</p>

<%= link_to 'Edit', edit_second_form_path(@second_form) %> |
<%= link_to 'Back', second_forms_path %>
