<%= form_with(model: channel, local: true) do |form| %>
  <div class="container">

    <% if channel.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

        <ul>
          <% channel.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :icon %>
      <% if channel.icon.attached? %>
        <p><%= image_tag @channel.icon.variant(resize: "175x175") %></p>
      <% end %>
      <%= form.file_field :icon, class: 'form-control', %>
    </div>

    <div class="field form-group">
      <%= form.label :usage %><br>
      <%= form.select :usage, Channel.typs.keys.map {|option| [option.humanize, option]}, class: 'channel-type-select' %>
    </div>

    <div class="field form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' , placeholder: 'Title'%>
    </div>

    <div class="field form-group">
      <%= form.label :status %><br>
      <%= form.select :status, Channel.statuses.keys.map {|option| [option.humanize, option]}, class: 'channel-type-select' %>
    </div>

    <div class="field form-group">
      <%= form.label :url %>
      <%= form.text_field :url, class: 'form-control', placeholder: 'Url'%>
    </div>
    <div class="field form-group">
      <%= form.label :login %>
      <%= form.text_field :login, class: 'form-control', placeholder: 'Login' %>
    </div>
    <%= form.submit 'Save Channel', class: 'btn btn-success' %>

<% end %>
</div>

