<p id="notice"><%= notice %></p>
<div class="jumbotron jumbo-main-content">
  <h1>Channels</h1>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>Typ</th>
      <th>Title</th>
      <th>Status</th>
      <% if current_user.admin? %>
        <th>Url</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.typ.humanize %></td>
        <td><%= channel.title %></td>
        <td><%= channel.status %></td>
        <% if current_user.admin? %>
          <td><%= channel.url %></td>
          <td><%= link_to 'Show', channel,class: 'btn btn-default' %></td>
          <td><%= link_to 'Edit', edit_channel_path(channel),class: 'btn btn-default' %></td>
          <td><%= link_to 'Destroy', channel, method: :delete, data: {confirm: 'Are you sure?'},class: 'btn btn-default' %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>
  <% if current_user.admin? %>
    <%= link_to 'New Channel', new_channel_path, class: 'btn btn-primary' %>
  <% end %>
</div>