<p id="notice"><%= notice %></p>
<div class="jumbotron jumbo-main-content">

  <br>
  <% if @channel.icon.attached? %>
    <p><%= image_tag @channel.icon.variant(resize: "175X175")%></p>
  <% end %>
  <p>
    <strong>Type:</strong>
    <%= @channel.usage.humanize %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @channel.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @channel.status %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= @channel.url %>
  </p>

  <%= link_to 'Edit', edit_channel_path(@channel), class: 'btn btn-primary' %>
  <%= link_to 'Back', channels_path, class: 'btn btn-default' %>
</div>


<script>
    window.onload = function() {
        <%if @channel.chat? || @channel.both?  %>
        var tab =document.getElementById('channelChat'+<%= @channel.id %>).className = 'active'
        tab.className = 'active'
        var tabText = document.getElementById('channelIDChat'+<%= @channel.id %>).innerHTML = "<%= @channel.title %>"
        tabText.innerHTML = ""
        tabText.innerHTML = "<%= @channel.title %>"
        <% end %>

        <%if @channel.blog? || @channel.both?  %>
        var tab = document.getElementById('channelBlog'+<%= @channel.id %>)
        tab.className = 'active'
        var tabText = document.getElementById('channelIDBlog'+<%= @channel.id %>).innerHTML = "<%= @channel.title %>"
        tabText.innerHTML = ""
        tabText.innerHTML = "<%= @channel.title %>"
        <% end %>
    };
</script>