<p id="notice"><%= notice %></p>

<p>
  <strong>Typ:</strong>
  <%= @channel.typ.humanize %>
</p>

<p>
  <strong>Title:</strong>
  <%= @channel.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @channel.status.humanize %>
</p>

<p>
  <strong>Url:</strong>
  <%= @channel.url %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
