<%= form_with(model: impressum, local: true) do |form| %>
  <div class="container">
    <% if impressum.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(impressum.errors.count, "error") %> prohibited this impressum from being saved:</h2>

        <ul>
          <% impressum.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :context %><br>
      <%= form.text_area :context, class: 'form-control' , placeholder: 'Context', size: "30x20"%>
    </div>

    <div class="actions form-group">
      <%= form.submit'Save Impressum', class: 'btn btn-primary' %>
    </div>
<% end %>
</div>