<div class="jumbotron jumbo-main-content">
  <% if flash.now[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:notice] %>
    </div>
  <% elsif flash.now[:error] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:error] %>
    </div>
  <% elsif flash.now[:alert] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:alert] %>
    </div>
  <% end %>
  <h1>Impressum</h1>
  <br>
  <% @impressums.each do |impressum| %>
    <% if current_user.superuser? %>
    <% end %>
    <pre><%= link_to impressum, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-red pull-right',
                     'data-toggle' => 'tooltip', 'data-placement' => 'top', 'Title' => 'delete' do %>
  <i class="glyphicon glyphicon-remove"></i>
<% end %>
      <%= link_to  edit_impressum_path(impressum), class: 'btn btn-black pull-right',
                   'data-toggle' => 'tooltip', 'data-placement' => 'top', 'Title' => 'edit' do %>
  <i class="glyphicon glyphicon-pencil"></i>
<% end %>
      <%= link_to impressum, class: 'btn btn-black pull-right',
                  'data-toggle' => 'tooltip', 'data-placement' => 'top', 'Title' => 'show' do %>
  <i class="glyphicon glyphicon-search"></i>
<% end %>
      <%= impressum.content %></pre>
  <% end %>


  <br>
  <% if current_user.superuser? %>
    <%= link_to 'Add Impressum', new_impressum_path, class: 'btn btn-primary' %>
  <% end %>
</div>

