<p id="notice"><%= notice %></p>
<div class="jumbotron jumbo-main-content">

  <h1>Impressum</h1>
  <br>




  <% @impressums.each do |impressum| %>
    <% if current_user.superuser? %>
    <% end %>
    <pre><%= link_to impressum, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-red pull-right' do %>
  <i class="glyphicon glyphicon-remove"></i>
<% end %>
      <%= link_to  edit_impressum_path(impressum), class: 'btn btn-black pull-right' do %>
  <i class="glyphicon glyphicon-pencil"></i>
<% end %>
      <%= link_to impressum, class: 'btn btn-black pull-right' do %>
  <i class="glyphicon glyphicon-search"></i>
<% end %>
      <%= impressum.content %></pre>
  <% end %>


  <br>
  <% if current_user.superuser? %>
    <%= link_to 'Add Impressum', new_impressum_path, class: 'btn btn-primary' %>
  <% end %>
</div>

