<p id="notice"><%= notice %></p>
<div class="jumbotron jumbo-main-content">
  <%= link_to new_group_message_group_comment_path(@group_message), class: 'btn btn-primary pull-right' do %>
    <i class="glyphicon glyphicon-plus"></i>Add Comment
  <% end %>
  <p>
    <strong>Group:</strong>
    <%= @group_message.group.title %>
  </p>

  <p>
    <strong>Message:</strong>
  <pre><%= @group_message.content %></pre>
  </p>

  <p>
    <% if @group_message.group_comments.count != 0 %>
      <strong>Comments:</strong>
      <% @group_message.group_comments.each do |comment| %>
    <pre><%= comment.comment %>
      <br><br><small>Written by: <%= comment.user.name %></small></pre>

      <% end %>
      <%else%>
        <strong>No Comment.</strong>
    <% end %>
    <%= link_to 'Edit', edit_group_message_path(@group_message), class: 'btn btn-default' %>
    <%= link_to 'Back', group_messages_path, class: 'btn btn-primary' %>

    </div>