<style>
  .faqPadding {
    padding-left: 115px;
  }
</style>
<div class="jumbotron jumbo-main-content">
  <% if flash.now[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:notice] %>
    </div>
  <% elsif flash.now[:error] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:error] %>
    </div>
  <% elsif flash.now[:alert] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:alert] %>
    </div>
  <% end %>
  <h1>Faq</h1>
  <br>
  <% if current_user.superuser? %>
    <%= link_to 'Add Faq', new_faq_path, class: 'btn btn-primary pull-right' %>
    <br>
    <br>
  <% end %>

  <% @faqs.each do |faq| %>
    <% if current_user.superuser? || current_user.admin? %>
      <%= link_to faq, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-red pull-right',
                  'data-toggle' => 'tooltip', 'data-placement' => 'top', 'Title' => 'delete' do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>
      <%= link_to edit_faq_path(faq), class: 'btn btn-black pull-right',
                  'data-toggle' => 'tooltip', 'data-placement' => 'top', 'Title' => 'edit' do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= link_to faq, class: 'btn btn-black pull-right',
                  'data-toggle' => 'tooltip', 'data-placement' => 'top', 'Title' => 'show' do %>
        <i class="glyphicon glyphicon-search"></i>
      <% end %>
    <% end %>
    <% if current_user.superuser? || current_user.admin? %>
      <a href="#<%= faq.id %>" class="btn btn-default btn-block faqPadding " data-toggle="collapse">
    <% else %>
      <a href="#<%= faq.id %>" class="btn btn-default btn-block " data-toggle="collapse">
    <% end %>
    <%= faq.question %>&nbsp;&nbsp;<span class="caret"></span></a>
    <div id="<%= faq.id %>" class="collapse">
      <pre><%= faq.answer %></pre>
    </div>
    <br>
  <% end %>
  <br>
</div>

