<p id="notice"><%= notice %></p>
<div class="container">

  <h1>Faq</h1>


  <% @faqs.each do |faq| %>
    <% if current_user.superuser? %>
      <%= link_to 'Show', faq %>
      <%= link_to 'Edit', edit_faq_path(faq) %>
      <%= link_to 'Destroy', faq, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
    <a href="#<%= faq.id %>" class="btn btn-default btn-block" data-toggle="collapse">
      <%= faq.question %>&nbsp;&nbsp;<span class="caret"></span></a>
    <div id="<%= faq.id %>" class="collapse">
      <pre><%= faq.answer %></pre>
    </div>
  <% end %>
  <br>
  <% if current_user.superuser? %>
    <%= link_to 'New Faq', new_faq_path %>
  <% end %>

</div>
