<div class="jumbotron jumbo-main-content">
  <% if flash.now[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:notice] %>
    </div>
  <% elsif flash.now[:error] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:error] %>
    </div>
  <% elsif flash.now[:alert] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:alert] %>
    </div>
  <% end %>

  <p>
    <strong>Question:</strong>
  <pre><%= @faq.question %></pre>
  </p>

  <p>
    <strong>Answer:</strong>
  <pre><%= @faq.answer %></pre>
  </p>

  <%= link_to 'Edit', edit_faq_path(@faq), class: 'btn btn-primary'%>
  <%= link_to 'Back', faqs_path, class: 'btn btn-default' %>
</div>