<p id="notice"><%= notice %></p>
<div class="jumbotron jumbo-main-content">
  <h1>Admin</h1>
  <br>
  <p><%= link_to('Edit Company Profil', companies_path, class: "btn btn-default btn-block") %></p>
  <p><%= link_to('Create/Edit/Delete Group', groups_path, class: "btn btn-default btn-block") %></p>
  <p><%= link_to('Create/Edit/Delete User', users_path, class: "btn btn-default btn-block") %></p>
  <p><%= link_to('Create/Edit/Remove Channels', channels_path, class: "btn btn-default btn-block") %></p>
</div>
