<%= form_with(model: [group_message, group_comment], local: true) do |form| %>
  <% if group_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group_comment.errors.count, "error") %> prohibited this group_comment from being saved:</h2>

      <ul>
        <% group_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <pre><center>Group: <%= group_message.group.title%> </center><%= group_message.context %> </pre>


  <div class="field  form-group">
    <%= form.label :comment %>
    <%= form.text_area :comment, class: 'form-control', placeholder: 'Message', size: "30x8" %>
  </div>

  <div class="actions  form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

