<div class="jumbotron jumbo-main-content">
  <% if flash.now[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:notice] %>
    </div>
  <% elsif flash.now[:error] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:error] %>
    </div>
  <% elsif flash.now[:alert] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:alert] %>
    </div>
  <% end %>
  <p>
    <strong>Group message:</strong>
  <pre><%= @group_message.content %></pre>

  </p>

  <p>
    <strong>User:</strong>
    <%= @group_comment.user.name %>
  </p>

  <p>
    <strong>Comment:</strong>
   <pre> <%= @group_comment.comment %> </pre>
  </p>


  <%= link_to 'Back', group_messages_path, class: 'btn btn-default' %>
  <%= link_to 'Edit', edit_group_message_group_comment_path(@group_message, @group_comment), class: 'btn btn-primary' %>

</div>
