<p id="notice"><%= notice %></p>
<div class="container">

  <h1>Dataprotection</h1>
  <% if current_user.superuser? %>
    <% @dataprotections.each do |dataprotection| %>
      <p><%= link_to 'Show', dataprotection %> <%= link_to 'Edit', edit_dataprotection_path(dataprotection) %> <%= link_to 'Destroy', dataprotection, method: :delete, data: {confirm: 'Are you sure?'} %></p>
    <% end %>
  <% end %>
    <% @dataprotections.each do |dataprotection| %>
      <pre><%= dataprotection.content %></pre>
    <% end %>
  <br>
  <% if current_user.superuser? %>
    <%= link_to 'New Dataprotection', new_dataprotection_path %>
  <% end %>
</div>