<%= form_with(model: group, local: true) do |form| %>
  <div class="container">

    <% if group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
          <% group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :title %>
      <%= form.text_field :title , class: 'form-control' , placeholder: 'Title'%>
    </div>

    <div class="field form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control' , placeholder: 'Description' %>
    </div>
    <strong>Channels:</strong><%= form.submit 'Add Group', class: 'btn btn-primary pull-right'%>
    <div class="field form-group">
      <% Channel.all.each do |channel| %>
        <%= check_box_tag "group[channel_ids][]", channel.id, @group.channel_ids.include?(channel.id) %>
        <%= channel.title %>
        <br/>
      <% end %>
    </div>
    <strong>Users:</strong>
    <div class="field form-group">
      <% User.all.each do |user| %>
        <%= check_box_tag "group[user_ids][]", user.id, @group.user_ids.include?(user.id) %>
        <%= user.name %>
        <br/>
      <% end %>
    </div>
<% end %>
</div>
