<%= form_with(model: group, local: true) do |form| %>
  <div class="container">
    <% if group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

        <ul>
          <% group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.submit 'Save Group', class: 'btn btn-success pull-right' %>
      <br>
      <%= form.label :image %>
      <% if group.image.attached? %>
        <p><%= image_tag @group.image.variant(resize: "175x175") %></p>
      <% end %>
      <%= form.file_field :image, direct_upload: true, class: 'form-control'%>
    </div>

    <div class="field form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
    </div>

    <div class="field form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control', placeholder: 'Description', size: "30x5" %>
    </div>


    <div class="field form-group">
      <strong>Channels:</strong>
      <% Channel.all.each do |channel| %>
        <%= check_box_tag "group[channel_ids][]", channel.id, @group.channel_ids.include?(channel.id) %>
        <%= channel.title %>&nbsp&nbsp&nbsp&nbsp
      <% end %>
    </div>
    <div class="field form-group">
      <strong>Users:</strong>
      <% User.all.each do |user| %>
        <%= check_box_tag "group[user_ids][]", user.id, @group.user_ids.include?(user.id) %>
        <%= user.name %>&nbsp&nbsp&nbsp&nbsp
      <% end %>
    </div>
<% end %>
</div>
