<%= form_with(model: user, local: true) do |form| %>
  <div class="container">
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :company_id %>
      <%= form.text_field :company_id, class: 'form-control' , placeholder: 'Company_id'%>
    </div>

    <div class="field form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' , placeholder: 'Name' %>
    </div>

    <div class="field form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: 'form-control' , placeholder: 'E-mail' %>
    </div>

    <div class="field form-group">
      <%= form.label :password %>
      <%= form.text_field :password, class: 'form-control' , placeholder: 'Password'%>
    </div>

    <div class="actions form-group">
      <%= form.submit 'Save User', class: 'btn btn-primary' %>
    </div>
<% end %>
</div>
