<p id="notice"><%= notice %></p>

<p>
  <strong>Feld1:</strong>
  <%= @first_form.feld1 %>
</p>

<p>
  <strong>Feld2:</strong>
  <%= @first_form.feld2 %>
</p>

<%= link_to 'Edit', edit_first_form_path(@first_form) %> |
<%= link_to 'Back', first_forms_path %>
