<%= form_with(model: buser, local: true) do |form| %>
  <% if buser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(buser.errors.count, "error") %> prohibited this buser from being saved:</h2>

      <ul>
      <% buser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :passwort %>
    <%= form.text_field :passwort %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
