<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @buser.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @buser.lastname %>
</p>

<p>
  <strong>Passwort:</strong>
  <%= @buser.passwort %>
</p>

<p>
  <strong>Status:</strong>
  <%= @buser.status %>
</p>

<%= link_to 'Edit', edit_buser_path(@buser) %> |
<%= link_to 'Back', busers_path %>
