<p id="notice"><%= notice %></p>
<div class="jumbotron jumbo-main-content">

  <p>
    <strong>Companyname:</strong>
    <%= @company.companyname %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= @company.adress %>
  </p>

  <p>
    <strong>Available Channels:</strong>
    <%= @company.channelnumber %>
  </p>

  <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary' %>
  <%= link_to 'Back', companies_path, class: 'btn btn-default' %>
</div>