<div class="jumbotron jumbo-main-content">
  <% if flash.now[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:notice] %>
    </div>
  <% elsif flash.now[:error] %>
    <div class="alert alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:error] %>
    </div>
  <% elsif flash.now[:alert] %>
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash.now[:alert] %>
    </div>
  <% end %>

  <p>
    <strong>Companyname:</strong>
    <%= @company.name %>
  </p>
  <% if @company.icon.attached? %>
    <p><%= image_tag @company.icon.variant(resize: "175X175")%></p>
  <% end %>

  <p>
    <strong>address:</strong>
    <%= @company.address %>
  </p>

  <p>
    <strong>Available Channels:</strong>
    <%= @company.channel_number %>
  </p>


  <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary' %>
  <%= link_to 'Back', companies_path, class: 'btn btn-default' %>
</div>