<p id="notice"><%= notice %></p>
<div class="jumbotron jumbo-main-content">

  <p>
    <strong>Companyname:</strong>
    <%= @company.name %>
  </p>
  <% if @company.icon.attached? %>
    <p><%= image_tag @company.icon.variant(resize: "175X175")%></p>
  <% end %>

  <p>
    <strong>address:</strong>
    <%= @company.address %>
  </p>

  <p>
    <strong>Available Channels:</strong>
    <%= @company.channel_number %>
  </p>


  <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-primary' %>
  <%= link_to 'Back', companies_path, class: 'btn btn-default' %>
</div>