<p id="notice"><%= notice %></p>
<div class="jumbotron jumbo-main-content">

  <h1>Copyrigths</h1>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th>content</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @copyrigths.each do |copyrigth| %>
      <tr>
        <td><%= copyrigth.content %></td>
        <td><%= link_to 'Show', copyrigth, class: 'btn btn-default'%></td>
        <td><%= link_to 'Edit', edit_copyrigth_path(copyrigth), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', copyrigth, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default'%></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add Copyrigth', new_copyrigth_path, class: 'btn btn-primary' %>
</div>