<!DOCTYPE html>
<html>
<head>
  <title>RubyTestApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<!--Navbar-->
<% if !current_user.nil? %>
  <% if user_signed_in? %>
    <div class="header_top">
      <div class="container-fluid">
        <div class="row content">

          <!--Showing Userdata-->
          <div class="col-sm-2 sidenav">
            <p class="imageHolder">
              <% if current_user.company.icon.attached? %>
                <%= image_tag current_user.company.icon.variant(resize: "75X75"), class: "img-circle" %>
              <% end %></p>
            <p><%= current_user.name.humanize %>
              <% if current_user.admin? %>
                Role: Admin
              <% end %>
              <% if current_user.superuser? %>
                Role: Superuser
              <% end %></p>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "glyphicon glyphicon-log-out user-link") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to('User', edit_user_registration_path, class: "glyphicon glyphicon-cog user-link") %>
          </div>

          <!--showing Channels in Center and Logo-->
          <div class="col-sm-8 middleNav" id="btnDiv">
            <h3 id="CCC"><strong>3C</strong></h3>
            <div class="tab">
              <button class="tablinks btn-default" id="chat" onclick="redirect('<%= chats_path %>')">Chat:</button>
              <% current_user.channels.each do |channel| %>
                <% if channel.both? || channel.chat? %>
                  <button class="tablinks btn-default" id="channelChat<%= channel.id %>" onclick="redirect('<%= channel_path(channel) %>')"
                          <% if (@channels.chat.count + @channels.both.count)  >= 5 && (@channels.chat.count + @channels.both.count) < 10 %>
                          onmouseover="changeText('channelIDChat<%= channel.id%>', '<%= channel.title %>')"
                          onmouseout="changeText('channelIDChat<%= channel.id%>', '<%= channel.title[0, 5] %>')"
                          <% elsif (@channels.chat.count + @channels.both.count) >= 10 %>
                          onmouseover="changeText('channelIDChat<%= channel.id%>', '<%= channel.title %>')"
                          onmouseout="changeText('channelIDChat<%= channel.id%>', '<%= channel.title[0, 2] %>')"<%end%>>
                    <% if channel.icon.attached? %>
                      <%= image_tag channel.icon.variant(resize: "25X25"), class: "img-circle" %>
                    <% end %>
                    <% if (@channels.chat.count + @channels.both.count) <= 5 %>
                      <span id="channelIDChat<%= channel.id %>"><%= channel.title %></span>
                    <% elsif (@channels.chat.count + @channels.both.count) <= 8 %>
                      <span id="channelIDChat<%= channel.id %>"><%= channel.title[0, 5] %></span>
                    <% elsif (@channels.chat.count + @channels.both.count) <= 10 %>
                      <span id="channelIDChat<%= channel.id %>"><%= channel.title[0, 2] %></span>
                    <% end %>
                    <% if channel.id.odd? %>
                   <span class="badge">
                     <%= channel.id %></span> &nbsp;&nbsp;
                    <% else %>
                  <span class="badge new-message">
                    <%= channel.id %></span> &nbsp;&nbsp;
                    <% end %>
                <% end %>
                </button>
              <% end %>
            </div>


            <div class="tab">
              <button class="tablinks btn-default" id="blog" onclick="redirect('<%= blogs_path %>')">Blog:</button>
              <% current_user.channels.each do |channel| %>
                <% if channel.both? || channel.blog? %>
                  <button class="tablinks btn-default" id="channelBlog<%= channel.id %>" onclick="redirect('<%= channel_path(channel) %>')"
                          <% if (@channels.blog.count + @channels.both.count)  >= 10 %>
                          onmouseover="changeText('channelIDBlog<%= channel.id%>', '<%= channel.title %>')"
                          onmouseout="changeText('channelIDBlog<%= channel.id%>', '<%= channel.title[0, 2] %>')"
                          <% elsif (@channels.blog.count + @channels.both.count) >= 5 %>
                          onmouseover="changeText('channelIDBlog<%= channel.id%>', '<%= channel.title %>')"
                          onmouseout="changeText('channelIDBlog<%= channel.id%>', '<%= channel.title[0, 5] %>')"<% end %>>
                    <% if channel.icon.attached? %>
                    <%= image_tag channel.icon.variant(resize: "25X25"), class: "img-circle" %>
                    <% end %>
                    <% if (@channels.blog.count + @channels.both.count) <= 5 %>
                    <span id="channelIDBlog<%= channel.id %>"><%= channel.title %></span>
                    <% elsif (@channels.blog.count + @channels.both.count) < 10 %>
                    <span id="channelIDBlog<%= channel.id %>"><%=channel.title[0, 5] %></span>
                    <% else %>
                    <span id="channelIDBlog<%= channel.id %>"><%= channel.title[0, 2] %></span>
                    <% end %>
                    <% if channel.id.odd? %>
                   <span class="badge">
                     <%= channel.id %></span> &nbsp;&nbsp;
                    <% else %>
                  <span class="badge new-message">
                    <%= channel.id %></span> &nbsp;&nbsp;
                    <% end %>
                <% end %>
                </button>
              <% end %>
            </div>
          </div>


          <!--Settingsmenu right side-->
          <div class="col-sm-2 sidenav">
            <div class="dropdown">
              <br>
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                <h3><span class="glyphicon glyphicon-cog"></span>&nbsp;Settings:
                  <span class="caret"></span></h3>
              </button>
              <ul class="dropdown-menu">
                <% if current_user.admin? || current_user.superuser? %>
                  <li>
                    <a><%= link_to('Company', edit_company_path(current_user.company), class: "button") %></a>
                  </li>
                <% end %>
                <li><a><%= link_to('Groups', groups_path, class: "button") %></a></li>
                <li><a><%= link_to('Channels', channels_path, class: "button") %></a></li>
                <% if current_user.superuser? %>
                  <li><a><%= link_to('Edit Users', users_path, class: "button") %></a></li>
                  <li><a><%= link_to('Edit Companies', companies_path, class: "button") %></a></li>
                  <li><a><%= link_to('Copyright', copyrigths_path, class: "button") %></a></li>
                  <li><a><%= link_to('Impressum', impressums_path, class: "button") %></a></li>
                <% end %>
                <% if current_user.admin? %>
                  <li><a><%= link_to('Admin Settings', admins_path, class: "button") %></a></li>
                  <li><a><%= link_to('Edit Users', users_path, class: "button") %></a></li>
                <% end %>
                <li><a href="#"><%= link_to('Faq', faqs_path, class: "button") %></a></li>
              </ul>
            </div>
            <br>
            <div class="btn-group btn-group-justified">
              <%= link_to group_messages_path, class: 'btn btn-default', id: 'groupMsg' do %>
                <i class="glyphicon glyphicon-search"></i> Group Messages
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


<% if user_signed_in? %>
  <!--content-->
  <div class="container-fluid">
    <div class="row main-content">
      <div class="col-xs-10">
        <!--setup for messages like error-->
        <% if flash.now[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash.now[:notice] %>
          </div>
        <% elsif flash.now[:error] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash.now[:error] %>
          </div>
        <% elsif flash.now[:alert] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash.now[:alert] %>
          </div>
        <% end %>
        <div class="jumbotron jumbo-content">
          <%= yield %>
        </div>
      </div>

      <!--sidenav news-->
      <div class="col-xs-2 sidenav" id="rightbar">
        <h4>
          <small class="smallBlack">Group News:</small>
        </h4>

        <div class="list-group">
          <!--the if statemants are just for showing and testing, the fullfill no use-->
          <% current_user.groups.each do |group| %>
            <div class="groups" onclick="redirect('<%= group_path(group)%>'), id='group<%= group.id %>'">
              <a class="list-group-item">
                <% if group.image.attached? %>
                  <%= image_tag group.image.variant(resize: "25X25"), class: "img-circle", style: "margin-left: 0px;float:left" %>
                <% end %>
                <%= group.title %>
                <% if group.id.odd? %>
                   <span class="badge">
                     <%= group.group_messages.count %></span>
                <% else %>
                  <span class="badge new-message">
                    <%= group.group_messages.count %></span>
                <% end %>
              </a>
            </div>
          <% end %>
        </div>

        <h4>
          <small class="smallBlack">Messages:</small>
        </h4>
        <div class="list-group messages">

          <!--the if statemants are just for showing and testing, the fullfill no use-->
          <% User.all.each do |user| %>
            <div>
              <a class="list-group-item " id="rederectId" onclick="redirect2()">
                <% if user.avatar.attached? %>
                  <%= image_tag user.avatar.variant(resize: "25X25"), class: "img-circle", style: "margin-left: 0px;float:left" %>
                <% end %>
                <%= user.name %>
                <% if user.id.odd? %>
                   <span class="badge">
                     <%= user.id %></span>
                <% else %>
                  <span class="badge new-message">
                    <%= user.id %></span>
                <% end %>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= yield %>
<% end %>

<!--Footerclass-->
<footer class="container-fluid text-center">
  <%= link_to('Dataprotection', dataprotections_path, class: "button") %>   ||
  <%= link_to('Impressum', impressums_path, class: "button") %>
  <p>
    ©
    <% @copyrigths.each do |content| %>
      <%= content.content %>
    <% end %></p>
  </p>
</footer>

<script>
    function redirect(path) {
        location.href = path;
    }
</script>

<script>
    function redirect2() {
        alert('need to be linked, no use til now');
    }
</script>
<script>
    function changeText(elementId, text) {
        var display = document.getElementById(elementId);
        display.innerHTML = "";
        display.innerHTML = text;
    }
</script>

</body>
</html>
