<!DOCTYPE html>
<html>
  <head>
    <title>RubyTestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
  <div>
    <%=link_to('Logout', destroy_user_session_path, :method => :delete, class:"button")%>
   <%=link_to('Company', companies_path, class:"button")%>
    <%=link_to('Group', groups_path, class:"button")%>
    <%=link_to('User', users_path, class:"button")%>
  </div>
  <%end%>
  <body>
    <%= yield %>
  </body>
</html>
