<!DOCTYPE html>
<html>
  <head>
    <title>RubyTestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
  <div>
    <%=link_to('Logout', destroy_user_session_path, :method => :delete, class:"button")%>
    <%if !current_user.nil?||current_user.superuser?%>
      <%=link_to('Company', companies_path, class:"button")%>
    <%end%>
    <%=link_to('Group', groups_path, class:"button")%>
    <%if current_user.superuser?%>
      <%=link_to('User', users_path, class:"button")%>
    <%else%>
    <%=link_to('User', edit_user_registration_path, class:"button")%>
    <%end%>
    <%=link_to('Channel', channels_path, class:"button")%>

    <% current_user.user_to_companies.each do|userTocompany | %>
      <%if userTocompany.admin?%>
      <%=link_to('Admin', admins_path, class:"button")%>
      <%end%>
    <%end%>

    <%=link_to('Dataprotection', dataprotections_path, class:"button")%>
    <%=link_to('Impressum', impressums_path, class:"button")%>
    <%=link_to('Faq', faqs_path, class:"button")%>
  </div>
<%end%>
<%unless current_user.nil?%>
    <strong>Current User:</strong>
    <p><%= current_user.name %></p>


  <p> <%=link_to('Chat', chats_path, class:"button")%>
    <% @channels.each do |channel| %>
      <%if channel.both? || channel.chat? %>
       <%= channel.title %>
      <% end %>
    <% end %></p>
  <p> <%=link_to('Blog', blogs_path, class:"button")%>
    <% @channels.each do |channel| %>
      <%if channel.both? || channel.blog? %>
       <%= channel.title %>
      <% end %>
    <% end %></p>
  <%end%>
  <body>
    <%= yield %>
  </body>
</html>
