<!DOCTYPE html>
<html>
<head>
  <title>RubyTestApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
    .middleNav{
      background-color: #ffffff;
      height: 100%;
    }
    .avatar {
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .header_top {
      position: fixed;
      z-index:1;
      width: 100%;
      top: 0;
    }

    .row.content {
      height: 150px;
    }

    .row.main-content {
      height: 1500px;
      margin-top: 150px;
    }

    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
      text-align: center;
    }
    .jumbotron{
      background:transparent !important;
    }

    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }

      .row.content {
        height: auto;
      }
    }
  </style>

</head>
  <!--Navbar-->
  <% if !current_user.nil? %>
    <% if user_signed_in? %>
      <div class="header_top">
        <div class="container-fluid">
          <div class="row content">

            <!--Showing Userdata-->
            <div class="col-sm-2 sidenav">
              <h4 style="text-align: center;">3C</h4>
              <div><img src="/Users/dariobrunner/Desktop/_MG_8392 Kopie.jpg" alt="Avatar" class="avatar"></div>
              <p><%= current_user.name.humanize %> || <%= current_user.company.companyname %></p>
              <% if current_user.admin? %>
                <p>Role: Admin</p>
              <% end %>
              <% if current_user.superuser? %>
                <p>Role: Superuser</p>
              <% end %>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete,class: "glyphicon glyphicon-log-out" ) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;||&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= link_to('User', edit_user_registration_path, class: "glyphicon glyphicon-cog") %>
            </div>

            <!--showing Channelsin Center-->
            <div class="col-sm-8 middleNav">
              <h4><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Channels:</small></h4>
              <p><strong>Chat: </strong>
                <% @channels.each do |channel| %>
                  <% if channel.both? || channel.chat? %>
                    <%= channel.title %><span class="badge">5</span>&nbsp;&nbsp;
                  <% end %>
                <% end %>
              </p>
              <p><strong>Blog: </strong>
                <% @channels.each do |channel| %>
                  <% if channel.both? || channel.blog? %>
                    <%= channel.title %><span class="badge">5</span> &nbsp;&nbsp;
                  <% end %>
                <% end %>
              </p>
            </div>

            <!--Settings right side-->
            <div class="col-sm-2 sidenav">
              <a href="#settings" data-toggle="collapse">
                <h3><span class="glyphicon glyphicon-cog"></span>&nbsp;Settings:</h3></a>
              <div id="settings" class="collapse">
                <% if current_user.admin? || current_user.superuser? %>
                  <%= link_to('Company', companies_path, class: "button") %>
                <% end %>
                <%= link_to('Group', groups_path, class: "button") %>
                <br>
                <% if current_user.superuser? %>
                  <%= link_to('Edit Users', users_path, class: "button") %>
                  <%= link_to('Copyrigth', copyrigths_path, class: "button") %>
                  <br>
                <% end %>
                <%= link_to('Channel', channels_path, class: "button") %>
                <% if current_user.admin? %>
                  <%= link_to('Admin', admins_path, class: "button") %>
                <% end %>
                <br>
                <%= link_to('Faq', faqs_path, class: "button") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <!--content-->
    <div class="container-fluid">
      <div class="row main-content">
        <div class="col-xs-10">
          <div class="jumbotron">
          <%= yield %>
          </div>
        </div>

        <!--sidenav news-->
        <div class="col-xs-2 sidenav" id="rightbar">
          <h4><small>Groups:</small></h4>
          <div class="list-group">
            <a class="list-group-item">Group 1<span class="badge">1</span></a>
            <a class="list-group-item">Group 2<span class="badge">1</span></a>
          </div>
          <h4><small>Messages:</small></h4>
          <div class="list-group">
            <a class="list-group-item">Uwe Email<span class="badge">1</span></a>
            <a class="list-group-item">Lars Facbook<span class="badge">1</span></a>
            <a class="list-group-item">Ina Trainergroup<span class="badge">3</span></a>
            <a class="list-group-item">Peter Email<span class="badge">2</span></a>
            <a class="list-group-item">Hans Trainergoup<span class="badge">1</span></a>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

  <!--Footerclass-->
  <footer class="container-fluid text-center">
    <%= link_to('Dataprotection', dataprotections_path, class: "button") %>   ||
    <%= link_to('Impressum', impressums_path, class: "button") %>

    <p>©
      <% @copyrigths.each do |content| %>
        <%= content.copy %>
      <% end %></p>
    </p>
  </footer>

  </body>

</html>
